.MC-flip-button {
  padding: 8px 12px;
  margin-top: 12px;
  background-color: #d3c2af;
  border: none;
  border-radius: 5px;
  color: #faf8ef;
  cursor: pointer;
  transition: background-color 0.3s;
}

.MC-flip-button:hover {
  background-color: #b5a58f;
}

.MC-card-back {
  transform: rotateY(180deg);
  background: #fbfbf8;
  text-align: center;
  padding: 10px;
  overflow-y: auto;
  }
  
  .MC-card-back::-webkit-scrollbar {
    display: none;
  }
  
  .MC-card-back:-ms-overflow-style {
    display: none;
  }
  
  .MC-card-back {
    scrollbar-width: none;
  }
  