.MC-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.MC-card-back {
  transform: rotateY(180deg);
}


.MC-book-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.MC-flip-button {
  padding: 8px 12px;
  margin-top: 12px;
  background-color: #d3c2af;
  border: none;
  border-radius: 5px;
  color: #faf8ef;
  cursor: pointer;
  transition: background-color 0.3s;
}

.MC-flip-button:hover {
  background-color: #b5a58f;
}

.MC-card-back::-webkit-scrollbar {
  display: none;
}

.MC-card-back:-ms-overflow-style {
  display: none;
}

.MC-card-back {
  scrollbar-width: none;
}