.innnerHeaderContainer {
  border-radius: 50px !important;
}

.mainHeaderTabsContainer .item {
  padding: 12px 20px;
  font-size: 1.3rem !important;
  text-transform: uppercase;
}

.authTab {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.innerAuthTab {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(
    to right,
    rgb(127, 0, 255),
    rgb(72, 61, 139),
    rgb(70, 130, 180),
    rgb(32, 178, 170),
    rgb(163, 190, 140),
    rgb(208, 135, 112)
  );
  border-radius: 30px;
  height: 200%;
  overflow: hidden;
}

.innerAuthTab label {
  padding: 10px 40px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.innerAuthTab label.border-right {
  border-right: 2px solid #fff;
}
