.scaler {
  transform-origin: center;
}

@media (max-width: 600px) {
  .scaler {
    transform: scale(0.83);
  }
}

@media (min-width: 601px) and (max-width: 669px) {
  .scaler {
    transform: scale(0.88);
  }
}

@media (min-width: 670px) and (max-width: 739px) {
  .scaler {
    transform: scale(0.91);
  }
}

@media (min-width: 740px) and (max-width: 809px) {
  .scaler {
    transform: scale(0.94);
  }
}

@media (min-width: 810px) and (max-width: 879px) {
  .scaler {
    transform: scale(0.97);
  }
}

@media (min-width: 880px) and (max-width: 949px) {
  .scaler {
    transform: scale(1.00);
  }
}

@media (min-width: 950px) and (max-width: 1019px) {
  .scaler {
    transform: scale(1.03);
  }
}

@media (min-width: 1020px) and (max-width: 1089px) {
  .scaler {
    transform: scale(1.06);
  }
}

@media (min-width: 1090px) and (max-width: 1159px) {
  .scaler {
    transform: scale(1.09);
  }
}

@media (min-width: 1160px) and (max-width: 1198px) {
  .scaler {
    transform: scale(1.12);
  }
}

@media (min-width: 1199px) {
  .scaler {
    transform: scale(1.15);
  }
}

