.header_bookkmarkedSourceCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerBookmarked_header {
  width: 95%;
  padding: 20px;
  background: #fff;
  margin: 0px auto;
  border: 2px solid rgba(245, 245, 245);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerBookmarked_header h2 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 600;
}

.innerBookmarked_header button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.bookmarkedCardsInnerContainer {
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s linear;
}

.bookmarkedCardsInnerContainer.active {
  transition: 0.2s linear;
  overflow: unset;
  max-height: 5000px;
}

.bookmarkedCardsInnerContainer .searchedCardBx {
  background: #fff;
}
.bookmarkedCardsInnerContainer .innerSearchedTextData h2 {
  max-width: 900px;
}
