@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Medium.woff2') format('woff2'),
        url('../fonts/Syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Regular.woff2') format('woff2'),
        url('../fonts/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Bold.woff2') format('woff2'),
        url('../fonts/Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-ExtraBold.woff2') format('woff2'),
        url('../fonts/Syne-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-SemiBold.woff2') format('woff2'),
        url('../fonts/Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Syne' !important;
}

.wallet-adapter-modal{
    pointer-events: auto;
}
.font-roboto-condensed{font-family: unset !important;}
