/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 60 2% 95%;
    --foreground: 222.2 47.4% 11.2%;
    --brightyellow: #F6F930;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 85%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 59 94% 58%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --info: 15 70% 45%;
    --info-foreground: 0 0% 100%;

    --warning: 45 100% 51%;
    --warning-foreground: 0 0% 0%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --constructive: 120 61% 50%;
    --constructive-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 213 31% 91%;
    --brightyellow: #F6F930;

    --muted: 0 0% 9%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 0 0% 9%;
    --accent-foreground: 55 80% 55%;

    --border: 15 30% 30%;
    --input: 0 0% 9%;

    --card: 0 0% 9%;
    --card-foreground: 213 31% 91%;

    --primary: 55 80% 55%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --info: 5 60% 45%;
    --info-foreground: 0 0% 100%;

    --warning: 45 100% 51%;
    --warning-foreground: 0 0% 0%;

    --constructive: 142 71% 45%;
    --constructive-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 10 35% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}