
.grid {
    display: grid;
    gap: 3em;
    padding: 2em;
  }

  /* Span from the first to the last grid column */

@media only screen and (min-width: 200px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}


.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: .5rem;
}

.cardContainer {
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.cardFlipped {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fbfbf5 !important;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardBack {
  transform: rotateY(180deg);
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBack::-webkit-scrollbar {
  display: none;
}