.outer-div,
.inner-div {
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.outer-div {
  perspective: 900px;
  perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s;
  transform-style: preserve-3d;
  /*&:hover .front__face-photo,
  &:hover .front__footer {
    opacity: 1;
  }*/
}

.inner-div.flipped .back {
  z-index: 10;
}

.inner-div:hover .social-icon {
  opacity: 1;
  top: 0;
}

.front,
.back {
  background-color: #f9f9ee;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.front__bkg-photo {
  position: relative;
  height: 150px;
  width: 300px;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.front__icon {
  position: relative;
  z-index: 5;
}


.front__face-photo {
  position: absolute;
  top: -200px;
  left: 0px;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px 5px 0px 0px;
  border: none;
  background-size: cover;
  overflow: hidden;
  z-index: 3;
}


.front__text {
  position: relative;
  top: -55px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 18px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* .front__text .front__text-header {
  font-weight: 700;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
} */

.front__text .front__text-para {
  position: relative;
  top: -5px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.front__text .front-icons {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 6px;
  color: gray;
}

.front__text .front__text-hover {
  position: relative;
  top: 10px;
  font-size: 10px;
  color: tomato;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 2px solid tomato;
  padding: 8px 15px;
  border-radius: 30px;
  background: tomato;
  color: #fff;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ----Category Carousel---- */


.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel-content {
  transition: transform 0.3s ease-in-out;
}

.category-tag {
  background-color: #eee;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 0 5px;
  display: inline-block;
}

.hidden {
  display: none;
}



/* ----Buttons on Card Back---- */

.read-button, .buy-button {
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.read-button {
  background-color: #3B82F6;
  color: white;
}

.read-button:hover {
  background-color: #2563EB;
}

.buy-button {
  background-color: #059669;
  color: white;
}

.buy-button:hover {
  background-color: #047857;
}

.icon-button {
  background-color: #E5E7EB;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-button:hover {
  background-color: black;
  color: white;
}

