.author-card {
width: 120%;
height: 120%;
position: relative;
transform-style: preserve-3d;
transform: rotateY(0);
transition: transform 0.5s;
}

.author-name {
  font-family: 'Georgia', cursive;
  font-size: 18px;
  font-weight: 500;
}

.card-wrapper.cardFlipped .author-card {
transform: rotateY(180deg);
}

.card-face {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border: 1px solid #252525;
border-radius: 0.5rem;
overflow: hidden;
}

.card-front {
/* background: #fbfbf8; */
background: #f7f5e8;

display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

.card-front:hover {
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-back {
transform: rotateY(180deg);
background: #f7f5e8;
text-align: center;
padding: 10px;
overflow-y: auto;
}

.card-back::-webkit-scrollbar {
  display: none;
}

.card-back:-ms-overflow-style {
  display: none;
}

.card-back {
  scrollbar-width: none;
}

.card-wrapper {
perspective: 1000px;
width: 150px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
}

.image-container {
height: calc(100% - 25px);
width: 100%;
border-bottom: 1.4px solid #252525;
}

.streamed-description {
  font-family: 'Times New Roman', cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.text-container {
width: 95%;
}

.text-container p {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-wrapper.cardFlipped .extension {
transform: translateX(0);
}

.author-container {
  display: flex;
  justify-content: center;
  align-items: center;
}