.filter-popup {
  position: absolute;
  top: 110%;  /* Adjusts the vertical position below the search bar */
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  max-height: 400px;
  overflow-y: auto;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-item input[type="checkbox"] {
  margin-right: 0.5rem;
}

.collapsible-section {
  margin-bottom: 1rem;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7fafc;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.collapsible-header:hover {
  background-color: #e2e8f0;
}

.collapsible-content {
  margin-top: 0.5rem;
}


.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type=range] {
  width: 100%;
  margin: 10px 0;
}
