.author-card {
width: 120%;
height: 120%;
position: relative;
transform-style: preserve-3d;
transform: rotateY(0);
transition: transform 0.5s;
}

.author-name {
  font-family: 'Georgia', cursive;
  font-size: 18px;
  font-weight: 500;
}

.card-wrapper.cardFlipped .author-card {
transform: rotateY(180deg);
}

.card-face {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border: 1px solid #252525;
border-radius: 0.5rem;
overflow: hidden;
}

.card-front {
/* background: #fbfbf8; */
background: #f7f5e8;

display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

.card-front:hover {
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-back {
transform: rotateY(180deg);
/* background: #fbfbf8; */
background: #f7f5e8;
text-align: center;
padding: 10px;
overflow-y: auto;
}

.card-back::-webkit-scrollbar {
  display: none;
}

.card-back:-ms-overflow-style {
  display: none;
}

.card-back {
  scrollbar-width: none;
}

.card-wrapper {
perspective: 1000px;
width: 150px;
height: 150px;
/* width: 180px;
height: 180px; */

display: flex;
align-items: center;
justify-content: center;
}

.image-container {
height: calc(100% - 25px);
width: 100%;
border-bottom: 1.4px solid #252525;
}

.streamed-description {
  font-family: 'Times New Roman', cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.text-container {
width: 95%;
}

.text-container p {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-wrapper.cardFlipped .extension {
transform: translateX(0);
}

/* @media (max-width: 68px) {
  .card-wrapper {
    min-width: 50px;
  }
  .author-card {
    width: 100%;
  }
} */






.author-container {
  display: flex;
  justify-content: center;
  align-items: center;
}















/* OG Web2 Version with Semantic UI Cards */

/* 
.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: .5rem;
}

.cardContainer {
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.cardFlipped {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fbfbf5 !important;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardBack {
  transform: rotateY(180deg);
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBack::-webkit-scrollbar {
  display: none;
}




 */








