.searchbar-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 0 auto; 
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.5px;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #5b4e81, #6f649c, #837bb7, #9e95ce, #b9b3e4, #d6cf9a);
}

.searchbar-inner {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #faf8ef;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(41, 41, 41, 0.4);
}

.search-input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  background-color: #faf8ef;
}

.filter-icon-button, .search-icon-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 0px;
  transition: transform 0.3s ease;
  background: none;
  cursor: pointer;
}

.filter-icon-button:hover, .search-icon-button:hover {
  background-color: rgba(25, 166, 159, 0.05);
}

.filter-icon-button:active, .search-icon-button:active {
  transform: scale(0.95);
}

.search-icon-button svg {
  font-size: 30px;
  color: #000000;
  transition: color 0.3s ease;
}

.search-icon-button:hover svg {
  color: #e78466;
  background: linear-gradient(to right, #7f00ff, #483d8b, #4682b4, #20b2aa, #a3be8c, #d08770),
}

.filter-icon-button svg {
  font-size: 30px;
  transition: color 0.3s ease;
}

.filter-icon-button:hover svg {
  color: #364a99;
}

.search-icon-button {
  margin: 0px 5px 0px 15px;
}

.filter-icon-button {
  margin-left: 10px;
}


@media (max-width: 480px) {
  .filter-icon-button svg, .search-icon-button svg {
    font-size: 5vw;
  }

  .searchbar-wrapper {
    padding: 2vw;
  }

  .search-input {
    font-size: 4vw;
    padding: 1vw 4vw 1vw 2vw;
  }

  .filter-icon-button, .search-icon-button {
    width: 8vw;
    height: 8vw;
    font-size: 5vw;
    transform: scale(1.1);
  }
}

.searchbar-loading {
  margin-top: 15px;
  text-align: center;
}

.searchbar-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-radius: 50%;
  border-top-color: #667eea;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.searchbar-greeting {
  margin-top: 15px;
  font-size: 18px;
}







/* OG  */


 /* .searchbar-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 0 auto; 
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
  background: linear-gradient(to right, #5b4e81, #6f649c, #837bb7, #9e95ce, #b9b3e4, #d6cf9a);
}

.search-input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #faf8ef;
  transition: border 0.3s ease;
}

.filter-icon-button, .search-icon-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 10px;
  color: #fff;
}

.search-icon-button {
  background: linear-gradient(to right, #667eea, #764ba2);
  font-size: 22px;
}

.filter-icon-button {
  font-size: 28px;
}

@media (max-width: 480px) {
  .searchbar-wrapper {
    padding: 2vw;
  }

  .search-input {
    font-size: 4vw;
    padding: 1vw 4vw 1vw 2vw;
  }

  .filter-icon-button, .search-icon-button {
    width: 8vw;
    height: 8vw;
    font-size: 5vw;
  }
}

.icon-button:hover {
  background: linear-gradient(to right, #5a63c6, #6e3c9b);
}

.searchbar-loading {
  margin-top: 15px;
  text-align: center;
}

.searchbar-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-radius: 50%;
  border-top-color: #667eea;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.searchbar-greeting {
  margin-top: 15px;
  font-size: 18px;
} */