.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .select {
    width: 20%;
    min-width: 180px;
    margin-right: 2%;
  }
  
  .searchInput {
    width: 78%;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  