/* 
.🌐🌈 {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.✍️ {
  position: relative;
  width: 100vw;
  left: 0;
  top: 15px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #44444a !important;
}

.📜 {
  background-color: rgb(255, 255, 246) !important;
}

.📜 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}


.📚👥 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  -ms-overflow-style: none;  
  -webkit-overflow-scrolling: touch;
  padding: 0.6rem;
}

.🌟 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  padding: 0.6rem;
}

 .🕵️‍♀️📜 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.🕵️‍♀️📜::-webkit-scrollbar {
  display: none;
}

.🖼️🌌 {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.👩‍🎨📷 {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.👤🎴 {
  background-color: rgb(241, 241, 225) !important;
}

.👤🎴-custom {
  width: 14rem !important;
  display: flex;
  flex-direction: column;
}

.👤🎴-header {
  color: black !important;
  font-size: 16px !important;
  font-weight: bold !important;
  font-family: 'Calibri' !important;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5em;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.👤🎴-container {
  flex: 0 0 auto;
  padding: 0 1rem 0 0;
  transition: transform 0.4s;
  position: relative;
  flex-shrink: 0;
}

.👤🎴-container:hover {
  transform: scale(1.04);
  z-index: 1;
}

.📝📖 {
  font-family: 'Times New Roman', Times, serif;
  color: #44444a;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
  transition: all 0.5s ease-in-out;
} */






































/* For OG Non-Carousel */

/* .loadingMore {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #6a6a6a;
  }
  


.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
    max-width: 100%;
  }
  
  .book {
    width: 15%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    background: #f5f2e9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
    transition: transform .2s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .bookImage {
    flex: 1 0 auto;
    position: relative;
  }
  
  .image {
    width: 100%;
    display: block;
  }
  
  .bookInfo {
    padding: 5px 5px;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: 'ellipsis';
  }
  
  .title {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .author {
    margin: 5px 0;
    font-size: 0.9em;
    font-weight: normal;
    color: #6a6a6a;
  }
   */