.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  height: 300px;
}

.segment-area {
  background: linear-gradient(180deg, #aca473 0%, #797761 100%);
  /* background: linear-gradient(180deg, #a3be8c 0%, #d08770  100%); */
  /* background: linear-gradient(180deg, #6f8160 0%, #aca473 100%);  */
  /* background: linear-gradient(180deg, #20b2aa 0%, #a3be8c 100%);  */
  /* #20b2aa, #a3be8c */
  /* #a3be8c, #d08770 */
  /* background: #f7f5e8; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  height: 90%;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}


.carousel-card {
  display: inline-block;
  padding: 20px;
  width: 240px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}