/* .message-card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.message-card {
  width: 100%;
  min-height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.5s;
  display: flex;
  border: 1px solid #d3c2af;
  background-color: #faf8ef;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.message-card-wrapper.cardFlipped .message-card {
  transform: rotateY(180deg);
}

@media (max-width: 767px) {
  .message-card {
    flex-direction: column;
  }
} */

:root {
  --card-height: 320px;
}

/* ----------------------------------- MESSAGE CARD --------------------------- */

.mainMessageCard {
  margin: 50px auto 0px auto;
  width: 80%;
  height: var(--card-height);
  background: #fbfbf5;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

.innerMessageCard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* ------------------------------------ USER PROFILE  -------------------------------------- */

.messageCardAutorDetails {
  width: 100%;
  height: 100%;
}

.messageCardAuthorProfile {
  width: 100%;
  height: 75%;
}

.profileRatingTextPercentage {
  padding: 4px 15px;
  font-size: 0.8rem;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  background: #00b5ad;
  color: #fff;
}

/* ---------------------------- AUTHOR CARD --------------------------------- */

.messageCardUserProfile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.messageUserProfileImg {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
}

.messageUserProfileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userAuthorProfile h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.userAuthorProfile p {
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
}

.userAuthorProfile p span {
  font-weight: 600;
}

.profileRatingStars {
  margin-top: 10px;
}

.profileRatingStars span {
  margin-right: 5px;
}

/* -------------------------- MESSAGE MAIN CARD QUESTION --------------------- */

.messageCardQuestion {
  width: 100%;
  height: 25%;
  border-top: 1px solid rgba(220, 220, 220);
  border-bottom: 1px solid rgba(220, 220, 220);
}

.messageInnerQuestion {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageInnerQuestion h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* ------------------------------- CALL TO ACTIONS ----------------------- */

.messageCardCalltoActions {
  width: 100%;
  margin-top: 15px;
}

.innerMessageCardCalltoAction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.innerMessageCardCalltoAction button {
  border: 1px solid rgba(220, 220, 220);
  border-radius: 4px;
  padding: 7px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s linear;
}

.innerMessageCardCalltoAction button label {
  margin-left: 6px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 0.9rem;
}

.innerMessageCardCalltoAction button:hover {
  background: rgba(245, 245, 245);
}

/* ------------------- CARD OUT INPUT DETAILS SECTION -------------------------------------- */

.messageCardDetails {
  width: 100%;
  height: 100%;
}

.innerMessageCardDetails {
  width: 100%;
  height: 100%;
  position: relative;
}

/* ----------------------------- DETAILS HEADER ---------------------------------- */

.messageDetailsHeaderTab {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 85% 15%;
  margin-bottom: 15px;
}

.inputOutBtnBx {
  width: 97%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.inputOutBtnBx::before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #fbfbf5;
  color: gray;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.inputOutBtnBx button {
  width: 49%;
  height: 100%;
  background: rgba(220, 220, 220);
  font-size: 0.9rem;
  font-family: "Poppins";
  font-weight: 600;
}

.inputOutBtnBx button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inputOutBtnBx button:nth-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inputOutBtnBx button.active {
  background: rgba(240, 240, 240);
}

.headerFlipButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(220, 220, 220);
  border-radius: 4px;
}

/* DETAILS CARD FRONTAND BACK ----------------------------------- */

.messageMainCradDetails {
  width: 100%;
  max-height: calc(var(--card-height) - 70px);
  height: 100%;
  overflow: hidden;
}

.cardFetailsFilpper {
  width: 200%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  transform: translateX(0);
  transition: 0.2s linear;
}

.cardFetailsFilpper.flip {
  transform: translateX(-50%);
  transition: 0.2s linear;
}

.cardFetailsFilpper.flip .messageCardDetailsBack {
  max-height: 1000px;
  height: 100%;
  transition: 0.2s linear;
}

/* FRONT CARD */
.messageCardFrontDetails {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.messageCardFrontDetails p {
  font-size: 0.9rem;
  color: #000;
  font-weight: 400;
  font-family: "Poppins";
}

.messageCardFrontDetails p button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  width: 100%;
  height: 45px;
  margin: 15px 0px 5px 0px;
  transition: 0.2s linear;
}

.messageCardFrontDetails p button:hover {
  background: rgba(250, 250, 250);
  transition: 0.2s linear;
}

/* BACK CARD */

.messageCardDetailsBack {
  width: 100%;
  height: 100%;
  max-height: 0px;
  overflow-y: auto;
  transition: 0.2s linear;
}

.featureMessageCard {
  padding: 2px 10px;
  background: #00b5ad;
  border-radius: 2px;
  position: sticky;
  top: 0;
}

.featureMessageCard p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.messageBookCard {
  width: 99%;
  padding: 10px 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

.messageBookCard h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins";
}

.messageBookCard p {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Poppins";
  color: gray;
}

/* RESPONSIVE ----------------------------------------------- */

@media (max-width: 700px) {
  .mainMessageCard {
    height: auto;
  }

  .messageCardAuthorProfile {
    height: auto;
  }

  .messageCardQuestion {
    height: auto;
    padding: 20px 15px;
    margin-top: 15px;
  }

  .messageMainCradDetails {
    max-height: auto;
  }

  .innerMessageCard {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
}

/* SHARED PAGE DESIGN ----------------------------------------- */

.mainMessageCard.sharedCard {
  height: auto;
  width: 95%;
  border-bottom: 2px solid #00b5ad;
}

.mainMessageCard.sharedCard .innerMessageCard {
  width: 95%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainMessageCard.sharedCard .messageCardQuestion {
  padding: 15px 0px;
  margin: 15px 0px 5px 0px;
}

.mainMessageCard.sharedCard .messageMainCradDetails {
  max-height: 400px;
  height: 100%;
  overflow-y: auto;
}

.mainMessageCard.sharedCard .messageCardFrontDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
