.mainCardCreationPanel_Container {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: #f6f7fb; */
}

.innerCardCreationPanel {
  width: 95%;
  max-width: 1400px;
  margin: 0px auto;
}

.cardCreationPanelHeader {
  width: 100%;
  padding: 20px;
  background: #fff;
  margin: 20px auto;
  border: 2px solid rgba(245, 245, 245);
  border-radius: 8px;
}

.innerHeaderContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerHeaderContainer h2 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 600;
}

.innerHeaderctaBtns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.innerHeaderctaBtns .dropDown_btn {
  height: 45px !important;
  width: 45px !important;
  padding: 0px;
  border-radius: 50%;
  background: #000;
}

.innerHeaderctaBtns button {
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  background: #00b5ad;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "poppins";
  margin-left: 15px;
}

.innerHeaderctaBtns button:nth-child(1) {
  background: black;
}

.cardCreationPanel_InnerContainer {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 20px;
  place-items: flex-start;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s linear;
}

.cardCreationPanel_InnerContainer.active {
  max-height: 1500px;
  transition: 0.2s linear;
  overflow: unset;
}
/* ------------------------------------------ SELECTED CARDS -------------------------- */

.cardCreation_selectedCards,
.cardCreation_searchedCards {
  width: 95%;
  border: 2px solid rgba(245, 245, 245);
  border-radius: 4px;
  background: #fff;
}

.cardCreation_selectedCards {
  position: sticky;
  top: 1%;
}

.header_selected_cards,
.header_searched_cards {
  text-align: center;
  padding: 10px 0px;
  margin: 10px;
  background: linear-gradient(
    to right,
    rgb(127, 0, 255),
    rgb(72, 61, 139),
    rgb(70, 130, 180),
    rgb(32, 178, 170),
    rgb(163, 190, 140),
    rgb(208, 135, 112)
  );
  border-radius: 2px;
}

.header_selected_cards h2,
.header_searched_cards h2 {
  color: #fff;
  font-weight: 600;
  font-family: "Poppins";
}

/* ---------------------------------- SEARCHED CARD -------------------------------- */

.cardCreation_searchedCards {
  width: 100%;
}

.inner_body_selecetd_cards {
  padding: 0px 10px 10px 10px;
}

.selectedCardBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid rgba(245, 245, 245);
  border-radius: 4px;
  margin-bottom: 15px;
}

.selectedCardBx:last-child {
  margin: 0px;
}

.selectedCardImg {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
}

.selectedCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectedCardBody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedBodyCardText {
  width: 100%;
}

.selectedBodyCardText h2 {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  height: 30px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedBodyCardText p {
  font-size: 0.9rem;
  color: gray;
  height: 30px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedBodyCardBtns label {
  height: 34px;
  min-width: 34px;
  width: 34px;
  border-radius: 4px;
  border: 1px solid rgba(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
}

.selectedBodyCardBtns label:hover {
  background: red;
  border-color: red;
  color: #fff;
  transition: 0.2s linear;
}

/* MAIN SEARCHED CARDS ---------------------------------------------------- */

.innerSearchedCardsContainer {
  padding: 10px 20px;
}

.searchedCardBx {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  position: relative;
}

.searchedCardBx:last-child {
  margin-bottom: 10px;
}

.innerSaerchedCardBx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 160px;
}

.searchedCardimg {
  min-width: 180px;
  width: 180px;
  height: 100%;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 4px;
}

.searchedCardimg img {
  width: 100%;
  height: 100%;
}

.searchecCardText {
  width: 100%;
  height: 100%;
}

.innerSearchedTextData {
  width: 100%;
  height: 100%;
}

.innerSearchedTextData h2 {
  height: 45px;
  width: 80%;
  max-width: 430px;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.innerSearchedTextData p {
  font-size: 0.9rem;
  color: gray;
  width: 100%;
  height: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showSerachedCardsActionBtns {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.showSerachedCardsActionBtns label {
  height: 38px;
  width: 38px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  color: black;
  transition: 0.2s linear;
}

.showSerachedCardsActionBtns label:hover {
  border-color: #000;
  background: #000;
  color: #fff;
}

.showSerachedCardsActionBtns label:last-child {
  border-color: #00b5ad;
  color: #00b5ad;
}

.showSerachedCardsActionBtns label:last-child:hover {
  border-color: #00b5ad;
  background: #00b5ad;
  color: #fff;
}

.showSerachedCardsActionBtns label:last-child.active {
  border-color: #00b5ad;
  background: #00b5ad;
  color: #fff;
}

/* ------------------------------------- PREVIEW CARDS -------------------------- */

.mainPreviewCardsContainer {
  width: 100%;
  /* background: #f6f7fb; */
  padding-top: 50px;
}

.innerPreviewContainer {
  width: 95%;
  max-width: 1400px;
  margin: 0px auto;
  background: #fff;
  border-radius: 10px;
}

.previewContainerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.previewContainerHeader h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

.previewContainerHeader button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  color: #fff;
  background: #000;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerPreviewCardsContainerBx {
  width: 100%;
  border-top: 1px solid rgba(240, 240, 240);
  max-width: 10000px;
  transition: 0.2s linear;
}

.innerPreviewCardsContainerBx.hide {
  max-height: 0px;
  transition: 0.2s linear;
  border: none;
  overflow: hidden;
  transition: 0.2s linear;
}

.PreviewCardsContainerBx {
  padding: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.previewCardCta {
  padding: 0px 20px;
}

.previewCardCta button {
  width: 100%;
  height: 48px;
  background: #00b5ad;
  color: #fff;
  border-radius: 4px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.previewCardCta button:nth-child(2) {
  background: #c09b7a;
}
.previewCardCta button:nth-child(3) {
  background: #467bb0;
}
.previewCardCta button:nth-child(4) {
  background: #6b15d6;
}

/* --------------------------------------------------- SKELTON CARDS  */

.skelton_card_source_loding {
  width: 100%;
  height: 180px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 28% 68%;
  margin-bottom: 20px;
  padding: 12px;
}

.skelton_card_source_loding:last-child {
  margin-bottom: 0px;
}

.image_skelton_loading {
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 4px;
}

.data_skelton_loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 4%;
}

.heading_skelton_loading {
  width: 100%;
  height: 18%;
  background: gray;
  border-radius: 4px;
}

.description_skelton_loading {
  width: 100%;
  height: 78%;
  background: gray;
  border-radius: 4px;
}

.skeleton {
  display: inline-block !important;
  position: relative !important;
  overflow: hidden !important;
  background-color: #dddbdd !important;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0)
  );
  animation: shimmer 5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
