.mainAuthorCard {
  width: 95%;

  border-radius: 6px;
  overflow: hidden;
  margin: 0px auto;
  cursor: pointer;
}

.AuthorInnerCardDetails {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.mainAuthorCard.flipped .AuthorInnerCardDetails {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innerAuthorCard {
  position: relative;
}

.AuthorCardImage {
  width: 100%;
  height: 250px;
  position: relative;
}

.favouriteButton {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.favouriteButton button {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.favouriteButton button:nth-child(1) {
  cursor: grab;
}

.AuthorCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorCardDetails {
  width: 100%;
  padding: 5px 10px;
}

.authorCardDetails h2 {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 600;
  margin: 4px;
}

.authorCardCalltoActions {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 10px;
}

.authorCardCalltoActions button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins";
  color: gray;
  border: 1px solid rgba(220, 220, 220);
  border-radius: 4px;
  transition: 0.2s linear;
  cursor: pointer;
}

.authorCardCalltoActions button:hover {
  background: rgba(245, 245, 245);
  transition: 0.2s linear;
}

.authorCardCalltoActions button:nth-child(1) {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CARD STATS DATA ---------------------------------------- */

.authorCardStatsContainer {
  padding: 10px;
}

.autorCardStatsDetails {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 10px;
  background: rgba(250, 250, 250);
  padding: 10px;
  border-radius: 4px;
}

.authorCardStatsBx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.authorCardStatsBx.column {
  flex-direction: column;
  align-items: flex-start;
}

.authorCardStatsBx h4 {
  font-size: 0.9rem;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0px;
  color: rgba(180, 180, 180);
  margin-right: 10px;
}

.authorCardStatsBx label {
  font-size: 0.9rem;
  font-family: "Poppins";
  font-weight: 700;
  margin: 0px;
  color: black;
}

/* ---------------------- TOKEN DETAILS ------------------------ */

.traningTokensDetails {
  width: 100%;
  margin-top: 10px;
}

.traningTokenHeading {
  font-size: 1.1rem;
  color: rgba(200, 200, 200);
  position: relative;
}

.traningTokenHeading::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  height: 1px;
  background: rgba(200, 200, 200);
  right: 0px;
}

.innerTrainingTkens {
  width: 100%;
}

.innerTrainingTkens label {
  font-size: 0.7rem;
  font-family: "Poppins";
  color: #000;
  border: 1px solid rgba(240, 240, 240);
  border-radius: 2px;
  padding: 6px 8px;
  cursor: pointer;
  transition: 0.2s linear;
  margin-right: 10px;
  display: inline-block;
}

.innerTrainingTkens label:hover {
  background: rgba(250, 250, 250);
  transition: 0.2s linear;
}

/* CARD BACK SIDE DESIGNS ------------------------------------------------------------ */

.innerAuthorCardBackContainer {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.authorCardBackTags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 5px 0px;
}

/* ----------------- TAGS SCROLL BAR ------------------------ */

/* width */
.authorCardBackTags::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
.authorCardBackTags::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.2s linear;
}

/* Handle */
.authorCardBackTags::-webkit-scrollbar-thumb {
  background: transparent;
  transition: 0.2s linear;
}

.authorCardBackTags:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: 0.2s linear;
}

/* Handle */
.authorCardBackTags:hover::-webkit-scrollbar-thumb {
  background: #888;
  transition: 0.2s linear;
}

/* ----------------- TAGS SCROLL BAR ------------------------ */

.authorCardBackTags label {
  font-size: 0.8rem;
  font-family: "Poppins";
  font-weight: 500;
  padding: 5px 10px;
  background: rgba(245, 245, 245);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.2s linear;
  white-space: nowrap;
}

.authorCardBackTags label:hover {
  background: rgba(220, 220, 220);
  transition: 0.2s linear;
}

.authorCardBackCallToActions {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.authorCardBackCallToActions button {
  border: 1px solid rgba(220, 220, 220);
  width: 90%;
  margin: 0px auto;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Poppins";
  color: gray;
  padding: 10px;
  transition: 0.2s linear;
}

.authorCardBackCallToActions button label {
  margin-right: 4px;
}

.authorCardBackCallToActions button:hover {
  background: rgba(245, 245, 245);
  transition: 0.2s linear;
}

.authorCardBackDescription {
  max-height: 70%;
  height: 100%;
  overflow-y: auto;
}

.authorCardBackDescription p {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.4rem;
  color: gray;
}

/* CARD BACK SIDE DESIGNS ------------------------------------------------------------ */
