.custom-scrollbar::-webkit-scrollbar {
	width: 8px; /* Width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #2d2d2d; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #888; /* Color of the scrollbar thumb */
	border-radius: 10px; /* Roundness of the scrollbar thumb */
	border: 2px solid #2d2d2d; /* Padding around scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color of the scrollbar thumb on hover */
}

.content-dropdown-menu {
	background-color: #2d2d2d !important; /* backround color */
	max-height: 400px; /* Limit height */
	overflow-y: auto; /* Add scroll */
}
.content-dropdown-menu .ant-dropdown-menu {
	background-color: black;
}

.content-dropdown-menu .ant-dropdown-menu-item {
	color: white;
}
.content-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-selected,
.content-dropdown-menu
	.ant-dropdown-menu-item.ant-dropdown-menu-item-selected:hover {
	background-color: #393939;
	color: black; /* Adjust this color if needed */
}
